{% extends 'common/base.html' %}
{% load static %}
{% block content %}
    <form method="post">
        {% for field in form %}
            <div>
                {{ field.label_tag }}
                {{ field }}

            </div>
                {% if field.name == 'age' %}
                    <small class="helptext">{{ field.help_text }}</small>
                {% endif %}
                {{ field.errors }}
        {% endfor %}

        {% csrf_token %}
        <button type="submit">Edit Profile</button>
    </form>
{% endblock %}