* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    background: #fafafa;
    min-height: 100vh;
}

ul {
    display: flex;
    justify-content: space-around;
}

ul li {
    list-style-type: none;
    display: inline-block;
}

a {
    text-decoration: none;
}

h1 {
    text-align: center;
}