* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    background: #fafafa;
    min-height: 100vh;
    background-color: #060C20;
    color: rgb(256,256,256);
}


nav {
    background-color: #0D2138;
    padding: 1.5em;
    display: flex;
    justify-content: space-between;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}

form {
    margin-top: 10em;
}

form div {
    margin: 0.5em 0;
}

form label {
    margin-right: 0.6em;
}

input, select {
    padding: 0.5em;
    border-radius: 0.5em;
    border: none;
}

.right-nav-link {
    font-size: 1.2em;
}

.home {
    font-size: 2em;
}

form div, form p {
    display: flex;
    justify-content: space-between;
}

.helptext {
    color: azure;
}

.errorlist {
    color: red;
    font-weight: 700;
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
}


ul li {
    list-style-type: none;
    display: block;
    margin-left: 1em;
}
a {
    text-decoration: none;
    color: rgb(256,256,256);
}

h1 {
    text-align: center;
}

.main-heading {
    position: relative;
    top: 3em;
    right: 4em;
    max-width: 8em;
    font-size: 4rem;
    text-transform: uppercase;
    line-height: 0.8;
}

.main-img {
    position: relative;
    left: 4em;
    z-index: -1;
}


.profile-picture {
    max-width: 10rem;
    aspect-ratio: 1;
}

.image-wrapper {
    border-radius: 50%;
    max-width: 10rem;
    max-height: 10rem;
    overflow: hidden;
    margin: 0 auto;
}



.details {
    display: flex;
    width: 40rem;
    margin: auto;
    flex-direction: column;
}

.details-wrapper {
    display: flex;
}

.details-wrapper img {
    display: block;
}

.details-text {
    margin-left: 2em;
}

.edit-delete {
    display: flex;
    justify-content: flex-end;
}

.edit-delete a {
    margin-left: 1em;
}

<<<<<<< HEAD

.dashboard {
    max-width: 1400px;
    margin: 20px auto;

}

.car {
    display: inline-block;
    margin: 20px;
}

.car-picture-small {
    width: 300px;
    max-height: 150px;
    object-fit: cover;
    display: block;
    border-radius: 10px;
    margin: 10px 0;
}

.car-picture-small:hover {
    opacity: 0.6;
}

a:hover {
    color: rgb(0,200,256);
}

.car-picture-big {
    max-height: 400px;
    object-fit: cover;
    display: block;
=======
a:hover {
    color: cyan;
>>>>>>> 4e039aba565885987e2da48f874618e2d6eee5d1
}