{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Car Collection App</title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
</head>
<body>
    <header>
      <nav>
        <ul>
          <li>
            <a href="{% url 'profile-create' %}">Create Profile</a>
          </li>
          <li>
            <a href="{% url 'car-create' %}">Create Car</a>
          </li>
          <li>
            <a href="{% url 'car-catalogue' %}">Car Collection</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      {% block content %}
      {% endblock %}
    </main>
</body>
</html>