{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Car Collection App</title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
</head>
<body>
    <header>
      <nav>
          <div>
              <a class="home" href="{% url 'index' %}">Car Collection</a>
          </div>
        <ul>
          {% if profile %}
          <li>
            <a class="right-nav-link" href="{% url 'car-catalogue' %}">Catalogue</a>
          </li>
          <li>
            <a class="right-nav-link" href="{% url 'car-create' %}">Create Car</a>
          </li>
          <li>
            <a class="right-nav-link" href="{% url 'profile-details' pk=1 %}">Profile</a>
          </li>
          {% else %}
          <li>
            <a class="right-nav-link" href="{% url 'profile-create' %}">Create Profile</a>
          </li>
          {% endif %}
        </ul>
      </nav>
    </header>
    <main>
      {% block content %}
      {% endblock %}
    </main>
</body>
</html>